// header {
//     --text: #f4f4f4;
//     --text-inverse: #333;
//     background:  #ffffff;
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 999;
//     padding: .5rem 4rem;
//     transition: background 2s ease-in-out;
//     color: var(--text);
//     border-bottom: 1px solid rgba(2, 43, 105, 0.1);
//   }

header{
  padding: 2rem 4.5rem;
}

  .nav-scrolled {
    --text: #333;
    // --text-inverse: #f4f4f4;
    background:  #ffffff;
    box-shadow: 0 0px 22px rgba(0,0,0,0.1);
    border-bottom: none;
}
  
// Menu
.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
}
.nav-links{
  a{
    transition: all 0.4s ease;
    display: inline-block;
    text-decoration: none;
    font-size: .8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    transition: all 0.4s ease;
    padding: 1rem;
  }
  a:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #09ebaf;
    width: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  
  a:hover {
    color: #192072;
    font-weight: bolder;
  }
  
  a:hover:after {
    width: 50%;
  }
}
.logo img {
  width: 160px;
}

li{
    list-style: none;
    display: inline-block;
    // padding: 1rem 0;
}



#get{
    // padding-left: 6rem;
    color: rgba(25, 32, 114, 1);
}

























// .nav {
//   // justify-self: flex-end;
//   display: flex;
//   align-items: center;
//   justify-content: center;

// }

// .nav a {
//     display: inline-block;
//   padding: 0 1rem;
//   font-size: 1.05rem;
//   color: #000;
//   font-weight: 550;
//   transition: all .3s ease-out;
  
// }

// .nav a:hover {
//   color: #05f;
// }