@media only screen and (max-width: 800px){

    .auth{
        display: grid;
        grid-template-columns: 1fr;
        // padding: 1rem;
    }
    .auth-text{
        padding: 1rem;
    }
    .auth-img{
        display: none;
    }
}
