.actions-page{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem 1.5rem;
    padding-bottom: 8rem;

    a{
        padding-top: 1rem;
        text-decoration: none;
    }
    .actions{
    
        background: #fff;
        border-radius: 8px;
        transition: all .4s ease-in;
        padding: 1rem 2rem;
        cursor: pointer;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        h4{
            // padding-top: 1rem;
            font-size: 1.5rem;
            font-weight: 900;
            font-family: 'League Spartan';
            // padding: .5rem;
        }
        p{
            // color: #F90057;
            color: #022b69;
            font-size: .95rem;
            // padding: .5rem 0;
        }
    
    }
}

.alerts{
    // background: rgba(249, 0, 87, .1);
    h4,p{
        color: rgb(243, 0, 139);
    }
    .bx{
        font-weight: bolder;
        font-size: 1.2rem;
        color: rgb(243, 0, 139);
        background: rgba(249, 0, 87, .2); 
        padding: .8rem;
        border-radius: 50px;
    }
}
.contacts{
    h4,p{
        color: #041969;
    }
    
    
    .bx{
        font-weight: bolder;
        font-size: 1.2rem;
        color: #09ebaf;
        background: rgba(9, 235, 175, .2);
        padding: .8rem;
        border-radius: 50px;
    }
}