// Button Mixin
@mixin btn-alt{
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7rem;
    background: none;
    border: 1px solid #f90057;
    padding: 1rem;
    color: #F90057;
    font-family: "Cerebri Sans";
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: .2s ease-in;
    &:hover{
        background: #F90057;
        color: #fff;
    }
}

// Emergency Notifications (Alert Page)
.alert-type{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem 1.5rem;
    a{
        text-decoration: none;
    }
    padding-bottom: 2rem;
    
}

.alert{
    text-align: center;
    background: #fff;
    border-radius: 8px;
    transition: all .4s ease-in;
    cursor: pointer;
    margin: .3rem 0;
    .bx{
        font-size: 2rem;
        padding: .5rem;
        color: rgba(2, 43, 105, 0.6);
    }
    p{
        color: #F90057;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .7rem;
    }
    &:hover{
        background: #F90057;
        .bx, p{
            color: #fff;
        }
    }
    
}
.panick-btn{
    button {
        @include btn-alt;
      }
}
.alert-page{
    a{
        
        .bx{
            font-size: 2rem;
            color: #022b69;
            text-align: left;
        }
    }
}

// Alert Info Page Styling
.alert-details{
    text-align: center;
    h5{
        font-size: .6rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #F90057;
    }
    h1{
        font-size: 1.7rem;
        color: #022b69;
        font-family: 'League Spartan';
    }
    p{
        padding-bottom: 1rem;
    }
    img{
        width: 120px;
        text-align: center;
    }
    #report{
        padding-top: 1rem;
        padding-bottom: 0;
        font-size: .7rem;
        color: #022b69;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .cancel-btn{
        padding: .5rem 3rem;
        button {
            @include btn-alt;
          }
    }
}

// Alerts Styling (Received and Sent Page)
.alerts-header{
    background: #f8f8f8;
    padding: 1rem .5rem 0 .5rem;
    h1{
        color: #022b69;
        font-size: 1.7rem;
        font-family: 'League Spartan';
        padding: 0 .5rem;
    }
}
.alert-links{
    ul{
        grid-template-columns: repeat(2, 1fr);
    }
}
.received-alerts, .sent-alerts{
    padding: 1.5rem 1rem;
    background: #f8f8f8;
    height: 100vh;
    .bx{
        // font-weight: bolder;
        font-size: 1.5rem;
        color: #022b60;
        // background: rgba(249, 0, 87, .1);
        // background: rgba(9, 235, 175, .8);
        background: #eee;
        padding: .5rem;
        border-radius: 50px;
        
    }
    a{
        text-decoration: none;
    }
}

.alerts-info{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: .5rem;
    border-bottom: 1px solid #eee;
    // grid-gap: .5rem;
    
    
    
    h6{
        color: #022b69;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: .8rem;
        padding-top: .4rem;
    }
    h5{
        font-size: .8rem;
        color: rgba(2, 43, 105, 0.4);
    }
    p{
        font-size: .7rem;
        color: #f90057;
        // color: #F90057;
    }
}

// Alerts details
.details-info{
    padding: 2rem 1rem;
    background: #f8f8f8;
    height: 100vh;
    h6{
        color: rgba(2, 43, 105, 0.6);
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: .7rem;
        
    }
    h5{
        font-size: 1rem;
        color: #022b69;
    }
    .alert-category{
        color: #F90057;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: .7rem;
    }
    .success{
        color: #09ebaf;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: .7rem;
    }
}

.detail-content{
    display: grid;
    grid-template-columns: 70% 30%;
    // padding-top: 1.5rem;

    .details{
        border-bottom: 1px solid #eee;
        padding-top: 1rem;
        padding-bottom: .8rem;
    }
    .detail-header{
        border-bottom: 1px solid #eee;
    }
}

.alerts-heading{
    h1{
        color: #022b69;
        font-size: 1.7rem;
        font-family: 'League Spartan';
        padding: 0 .5rem 1.5rem .5rem;
    }
}