// Contact Page Styling
.contact-page {
  p {
    padding: 2rem 0;
    font-size: 0.95rem;
    text-align: justify;
    color: rgba(2, 43, 105, 0.7);
  }
  button {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    background: #f90057;
    border: 1px solid #f90057;
    padding: 1rem;
    color: #fff;
    font-family: "Cerebri Sans";
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
}

// Create Contact Page Styling
.mobileNumber {
  // padding: .8rem;
  // display: grid;
  // grid-template-columns: 10% 90%;
  // grid-gap: .5rem;
  .bx{
    font-size: 2.2rem;
    padding-top: 5rem;
    color: rgba(2, 43, 105, 0.6);
  }
  input {
    padding-top: 6rem;
    font-size: 2.2rem;
    color: #022b69;
    font-family: "League Spartan";
    width: 100%;
    border: none;
    border-bottom: 3px solid #022b69;
    background: none;
    outline: none;
    text-align: center;
    // color: rgba(2, 43, 105, 0.6);
  }
  h6 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(2, 43, 105, 0.6);
    font-size: 0.6rem;
    padding: 0.5rem 0;
    font-weight: lighter;
  }
}

.contact-details {
    
  text-align: left;
  padding: 0.5rem;
  .items {
    padding: 0.8rem 0;
  }
  span {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(2, 43, 105, 0.6);
    font-size: 0.6rem;
    padding: 0.5rem 0;
    font-weight: lighter;
  }
  input {
    width: 100%;
    padding: 0.5rem 0.8rem;
    outline: none;
    border: 1px solid #eee;
    border-radius: 5px;
    font-family: 'Cerebri Sans';
    &:focus {
      border: 1px solid #022b69;
    }
  }
  .form-control{
    font-family: 'Cerebri Sans';
  }
  
}

button {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  background: #f90057;
  border: 1px solid #f90057;
  padding: 1rem;
  color: #fff;
  font-family: "Cerebri Sans";
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

// Contacts and Contact Details
.contactinfo-page{
  background: #f8f8f8;
  height: 100vh;
  padding: 1.5rem 1rem;
  .contact-info{
    display: grid;
    grid-template-columns: 15% 85%;
    border-bottom: 1px solid  #eee;
    padding: .5rem;
  }
  .contact-icon{
    padding: .3rem 0;
    .bx{
      font-size: 1.2rem;
      background: #eee;
      padding: .5rem;
      border-radius: 100%;
    }
  }
  .contact-name{
    padding-top: .6rem;
    h5{
      font-size: 1rem;
      color: #022b69;
    }
  }
}
