h4{
    font-weight: 900;
    font-family: 'League Spartan';
    color: #041969;
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}

.guide-type{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem 1.5rem;
    padding-bottom: 8rem;
    a{
        padding: .5rem 0;
        text-decoration: none;
    }
    // padding: 1rem 0;
}

.guide{
    
    background: #f8f8f8;
    border-radius: 8px;
    transition: all .4s ease-in;
    padding: 2rem;
    cursor: pointer;
    // .bx{
    //     font-weight: bolder;
    //     font-size: 1.5rem;
    //     background: #000; 
    //     padding: .8rem;
    //     border-radius: 50px;
    // }
    h4{
        // padding-top: 1rem;
        font-size: 1.5rem;
        font-weight: 900;
        font-family: 'League Spartan';
        // padding: .5rem;
    }
    p{
        // color: #F90057;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .6rem;
        // padding: .5rem 0;
    }

}

.accident{
// background: rgb(253, 192, 215);
// background: rgba(249, 0, 87, .1);
background: #eee;
h4,p{
    color: #F90057;
}
}

.life{
// background: rgba(9, 235, 227, .3);
background: #eee;
h4,p{
    color: #070646;
}
}

.health{
background: rgba(9, 235, 175, .8);
h4,p{
    color: #041969;
}

}

.guide-page{
    text-align: left;
    padding: 1rem 0;
    .guide-header{
        padding-top: 0;
        h5{
            font-size: .7rem;
            color: #F90057;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        h1{
            font-size: 1.8rem;
            color: #022b69;
            font-family: 'League Spartan';
        }
        p{
            color: rgba(2, 43, 105, 0.9);
            font-size: 1rem;
            font-weight: bolder;
        }
    }
    .guide-content{
        p,li{
            color: rgba(2, 43, 105, 0.6);
            font-size: .9rem;
            text-align: justify;
        }
        ul{
            padding: 0 2rem;
        }
    }
}

.guide-page{
    h2{
        font-family: 'League Spartan';
        color: #022b69;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: .7rem;
    }
}

.accordion-item{
    background: #f8f8f8;
    .item-title{
        color: #F90057;
        // font-family: 'League Spartan';
        // font-weight: bolder;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: .7rem;
    }
    p{
        color: #022b69;
        font-size: .9rem;
    }
}