
.profile_img{
    text-align: center;
    img{
        width: 40%;
        border-radius: 100%;
    }
    h5{
        font-size: .9rem;
        font-family: 'League Spartan';
        color: #022b69;
        padding: .5rem 0;
    }
    a{
        background: #F90057;
        color: #fff;
        padding: .3rem .8rem;
        border-radius: 25px;
        font-size: .8rem;
    }
}

#custom_nav{
    .bx{
        color: #F90057;
        font-size: 1.3rem;
        background: rgba(249, 0, 87, .1);
        border-radius: 100%;
        padding: .3rem;
    }
    .item-title{
        color: #022b69;
        padding: .5rem 0;
        font-size: .75rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.profile-page{
    background: #f8f8f8;
    height: 120%;
    
    .profile-header{
        // background: #f8f8f8;
        // border-bottom-right-radius: 10px;
        // border-bottom-left-radius: 10px;
        text-align: center;
        .p-header{
            // display: grid;
            // grid-template-columns: 40% 60%;
            padding: 2rem 2rem;
            img{
                width: 40%;
                border-radius: 100%;
            }
            h4{
                font-size: 1.2rem;
                padding-top: 1rem;
                color: #022b69;
            }
            h6{
                font-size: .8rem;
                color: #F90057;
            }
            border-bottom: 1px solid #eee;
        }
    }
    .profile-details{
        // background: #fbfbfb;
        padding: 1rem;
        .p-details{
            padding: 1rem 0;
            border-bottom: 1px solid #eee;
            h5{
                color: rgba(2, 43, 105, 0.4);
                font-size: .6rem;
                // font-family: 'League Spartan';
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            h6{
                font-size: 1rem;
                color: #022b69;

            }
        }
    }
    
}

.edit-page{
    padding: 2rem .5rem 0 .5rem;
    background: #f8f8f8;
    height: 100vh;
    @include forms;
}
#about-page{
    background: #f8f8f8;
    height: 100vh;
}

