#item-title{
    color: #022b69;
    font-size: .7rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#item-text{
    color: rgba(2, 43, 105, .6);
}

#block-title{
    letter-spacing: 2px;
    color: #F90057;
    text-transform: uppercase;
    font-size: .7rem;
}

.settings-page{
    padding: 0 .5rem;
    @include forms;
}