@font-face {
    font-family: 'Cerebri Sans';
    src: url(../fonts/cerebrisans-regular.eot) format("embedded-opentype"), url("../fonts/cerebrisans-regular.ttf") format("truetype");
}
@font-face {
    font-family: 'League Spartan';
    src: url(../fonts/LeagueSpartan-Bold.otf) format("embedded-opentype"), url("../fonts/LeagueSpartan-Bold.otf") format("truetype");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cerebri Sans';
}
img{
    width: 100%;
}
#base{
    padding-bottom: 5rem;
}
.content, .wrapper{
    background: #f8f8f8;
    height: 100vh;
    padding: 0 1rem;
    z-index: 1000;
}
#wrapper{
    height: 90vh;
}
#cprofile{
    // background: #000;
    .bx{
        font-size: 1.5rem;
        background: rgba(249, 0, 87, .1);
        padding: .3rem;
        color: #F90057;
        border-radius: 100%;
    }
}
#profile_name{
    h1{
        color: #022b69;
        font-size: 1.2rem;
        font-family: 'League Spartan';
        padding: 1rem 0;
    }
}
#inner-title{
    color: #022b69;
    font-family: 'League Spartan';
    font-size: 1.1rem;
}

#messenger{
    padding-bottom: 8rem;
}
#messagebar{
    padding-bottom: 4rem;
}
@mixin forms {
    
    // height: 100vh;
    // padding: 1rem .5rem 0 .5rem;
    .edit-area{
        padding: .5rem;
        // border-bottom: 1px solid #eee;
        .edit-form{
            border: 1px solid #ddd;
            border-radius: 5px;
            width: 100%;
            padding: .6rem;
            color: #022b69;
        }
        h5{
            color: rgba(2, 43, 105, 1);
            font-size: .6rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: .5rem 0;
        }
    }
    .editBtn{
        padding: 1rem .5rem;
    }
}

.toolbar-inner{
    .bx{
        font-size: 1.2rem
    }
}
.home{
    margin-top: 2rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-radius: 10px;
    // background: #F90057;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    h3{
        letter-spacing: 5px;
        padding: 1rem 0;
        font-size: 1.2rem;
        font-family: 'League Spartan';
        color: #022b69;
        font-weight: bolder;
    }
    h1{
        color: #022b69;
        font-weight: bolder;
    }
    h6{
        font-size: .6rem;
        padding: .5rem 0;
        font-weight: lighter;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #F90057;
    }
    
    .home-info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.callBtn{
    padding: 1.5rem 0;
    a{
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.8rem;
        background: #f90057;
        border: 1px solid #f90057;
        padding: .8rem;
        color: #fff;
        font-family: "Cerebri Sans";
        border-radius: 5px;
        cursor: pointer;
        outline: none;
    }
}

.quick-link{
    text-align: left;
    padding: 0 .5rem;
    font-size: .6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(2, 43, 105, 0.6);
}

.quick-alert{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
    .bx{
        font-size: 1.8rem;
        border-radius: 100%;
        border: 1px solid #F90057;
        padding: .5rem;
        color: #F90057;
        cursor: pointer;
        transition: all .3s ease-in;
        &:hover{
            background: #F90057;
            color: #fff;
            // font-size: 2.3rem;
        }
    }
    h6{
        font-size: .7rem;
        color: #022b69;
        padding: 1rem 0;
        text-transform: uppercase;
    }
}

.logo-image-small{
    img{
        border-radius: 45px;
    }
}
.link{
    .bx{
        font-size: 1.2rem;
        color: rgba(25, 32, 114, 1);
        font-weight: bold;
    }
}
.title{
    text-align: center;
    img{
        width: 150px;
    }
}
.header-text{
    line-height: 1.2;
    // padding-top: 3rem;
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    .heading-lg{
        font-size: 1.7rem;
        color: #022b69;
        padding-top: .5rem;
        font-family: 'League Spartan';
    }    
    .heading-sm{
        font-size: .95rem;
        color: rgba(2, 43, 105, 0.6);
        padding-bottom: .5rem;
    }
    span{
        font-size: 1.7rem;
        color: #F90057;
        font-weight: bolder;
        font-family: 'League Spartan';
    }
}
.sidebar-wrapper{
    p{
        font-size: .9rem;
        text-transform: capitalize;
        color: rgba(2, 43, 105, 0.9);
    }
    a{
        font-size: .9rem;
    }
}
@media only screen and (max-width: 1000px){
    // Modal
    // Modal
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    margin: 60% auto;
    width: 90%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    border-radius: 5px;
  }
  
  .modal-header h2{
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .modal-header {
    // background: var(--modal-color);
   
    color: #F90057;
    font-size: 1rem;
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
  }
  
  .modal-body {
    padding: 10px 18px;
    margin: 1rem 0;
    background: #fff;
    border-radius: 5px;
    a{
        padding: .5rem 1.2rem;
        border-radius: 5px;
        color: #F90057;
        border: 1px solid #F90057;
        margin: 1rem 0;
    }
    
  }
  
  .modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .close {
    // color: #ccc;
    float: right;
    font-size: 30px;
    color: rgb(3, 2, 3);
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
    #wrapper{
        text-align: center;
        // background: #f8f8f8;
        height: 100vh;
        h4{
            font-size: 2rem;
            padding-top: 3rem;
            font-family: 'League Spartan';
            color: #022b69;
            // color: rgba(249, 0, 87, .8);
        }
        p{
            font-size: 1rem;
            color: rgba(2, 43, 105, 0.6);
        }
    }
    #alerts{
        padding-bottom: 4rem;
    }
    .emergency{
        // text-align: center;
        h1{
            font-family: 'League Spartan';
        }
        // padding: 1rem 0;
        img{
            width: 120px;
        }
        a{
            color: #F90057;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: .75rem;
            text-decoration: none;
            
        }
    }
    
    .emergency-list{
        background: #fff;
        // padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        p{
            font-size: .9rem;
            font-weight: bolder;
        }
    }
    
    .app-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 0 0 0;
        text-align: center;
    
        h1{
            font-size: 2.5rem;
            font-weight: bolder;
            color: #022b69;
        }
        
    }
    @import './alerts';
    @import './guide';
    @import './actions';
    @import './contact';
    @import './settings';
    @import './profile';


    // Sticky bottom menu
    .bottom-panel{
        text-align: center;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        color: #000;
        background: #fff;
        padding: 1rem 0;
        display: grid;
        position: absolute;
        grid-template-columns: repeat(5, 1fr);
        position:fixed;
        bottom:0;
        width:100%;
        a{
            text-decoration: none;
        }
    }
    .info-set{
        // padding: 1rem 0;
        &:hover{
            color: #F90057;
        }
        .active{
            .bx, span{
                color: #F90057;
            }
        }
        .bx{
            font-size: 1.2rem;
            padding: 0 .8rem;
            color: rgba(2, 43, 105, 0.6);
            &:hover{
                color: #F90057;
            }
        }
        span{
            padding-top: .5rem;
            text-transform: capitalize;
            color: rgba(2, 43, 105, 0.6);
            font-size: .8rem;
            // font-weight: bolder;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                color: #F90057;
            }
        }
        
    }
}