@font-face {
  font-family: 'Cerebri Sans';
  src: url(../fonts/cerebrisans-regular.eot) format("embedded-opentype"), url("../fonts/cerebrisans-regular.ttf") format("truetype");
}

@font-face {
  font-family: 'League Spartan';
  src: url(../fonts/LeagueSpartan-Bold.otf) format("embedded-opentype"), url("../fonts/LeagueSpartan-Bold.otf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cerebri Sans';
}

img {
  width: 100%;
}

#base {
  padding-bottom: 5rem;
}

.content, .wrapper {
  background: #f8f8f8;
  height: 100vh;
  padding: 0 1rem;
  z-index: 1000;
}

#wrapper {
  height: 90vh;
}

#cprofile .bx {
  font-size: 1.5rem;
  background: rgba(249, 0, 87, 0.1);
  padding: .3rem;
  color: #F90057;
  border-radius: 100%;
}

#profile_name h1 {
  color: #022b69;
  font-size: 1.2rem;
  font-family: 'League Spartan';
  padding: 1rem 0;
}

#inner-title {
  color: #022b69;
  font-family: 'League Spartan';
  font-size: 1.1rem;
}

#messenger {
  padding-bottom: 8rem;
}

#messagebar {
  padding-bottom: 4rem;
}

.toolbar-inner .bx {
  font-size: 1.2rem;
}

.home {
  margin-top: 2rem;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.home h3 {
  letter-spacing: 5px;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-family: 'League Spartan';
  color: #022b69;
  font-weight: bolder;
}

.home h1 {
  color: #022b69;
  font-weight: bolder;
}

.home h6 {
  font-size: .6rem;
  padding: .5rem 0;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F90057;
}

.home .home-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.callBtn {
  padding: 1.5rem 0;
}

.callBtn a {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
  background: #f90057;
  border: 1px solid #f90057;
  padding: .8rem;
  color: #fff;
  font-family: "Cerebri Sans";
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.quick-link {
  text-align: left;
  padding: 0 .5rem;
  font-size: .6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(2, 43, 105, 0.6);
}

.quick-alert {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 2rem 0;
}

.quick-alert .bx {
  font-size: 1.8rem;
  border-radius: 100%;
  border: 1px solid #F90057;
  padding: .5rem;
  color: #F90057;
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.quick-alert .bx:hover {
  background: #F90057;
  color: #fff;
}

.quick-alert h6 {
  font-size: .7rem;
  color: #022b69;
  padding: 1rem 0;
  text-transform: uppercase;
}

.logo-image-small img {
  border-radius: 45px;
}

.link .bx {
  font-size: 1.2rem;
  color: #192072;
  font-weight: bold;
}

.title {
  text-align: center;
}

.title img {
  width: 150px;
}

.header-text {
  line-height: 1.2;
}

.header-text .heading-lg {
  font-size: 1.7rem;
  color: #022b69;
  padding-top: .5rem;
  font-family: 'League Spartan';
}

.header-text .heading-sm {
  font-size: .95rem;
  color: rgba(2, 43, 105, 0.6);
  padding-bottom: .5rem;
}

.header-text span {
  font-size: 1.7rem;
  color: #F90057;
  font-weight: bolder;
  font-family: 'League Spartan';
}

.sidebar-wrapper p {
  font-size: .9rem;
  text-transform: capitalize;
  color: rgba(2, 43, 105, 0.9);
}

.sidebar-wrapper a {
  font-size: .9rem;
}

@media only screen and (max-width: 1000px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    margin: 60% auto;
    width: 90%;
    -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    -webkit-animation-name: modalopen;
            animation-name: modalopen;
    -webkit-animation-duration: var(--modal-duration);
            animation-duration: var(--modal-duration);
    border-radius: 5px;
  }
  .modal-header h2 {
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .modal-header {
    color: #F90057;
    font-size: 1rem;
  }
  .modal-body {
    padding: 10px 18px;
    margin: 1rem 0;
    background: #fff;
    border-radius: 5px;
  }
  .modal-body a {
    padding: .5rem 1.2rem;
    border-radius: 5px;
    color: #F90057;
    border: 1px solid #F90057;
    margin: 1rem 0;
  }
  .modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .close {
    float: right;
    font-size: 30px;
    color: #030203;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  @-webkit-keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  #wrapper {
    text-align: center;
    height: 100vh;
  }
  #wrapper h4 {
    font-size: 2rem;
    padding-top: 3rem;
    font-family: 'League Spartan';
    color: #022b69;
  }
  #wrapper p {
    font-size: 1rem;
    color: rgba(2, 43, 105, 0.6);
  }
  #alerts {
    padding-bottom: 4rem;
  }
  .emergency h1 {
    font-family: 'League Spartan';
  }
  .emergency img {
    width: 120px;
  }
  .emergency a {
    color: #F90057;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .75rem;
    text-decoration: none;
  }
  .emergency-list {
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  .emergency-list p {
    font-size: .9rem;
    font-weight: bolder;
  }
  .app-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0 0 0;
    text-align: center;
  }
  .app-info h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #022b69;
  }
  .alert-type {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem 1.5rem;
    padding-bottom: 2rem;
  }
  .alert-type a {
    text-decoration: none;
  }
  .alert {
    text-align: center;
    background: #fff;
    border-radius: 8px;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    cursor: pointer;
    margin: .3rem 0;
  }
  .alert .bx {
    font-size: 2rem;
    padding: .5rem;
    color: rgba(2, 43, 105, 0.6);
  }
  .alert p {
    color: #F90057;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .7rem;
  }
  .alert:hover {
    background: #F90057;
  }
  .alert:hover .bx, .alert:hover p {
    color: #fff;
  }
  .panick-btn button {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7rem;
    background: none;
    border: 1px solid #f90057;
    padding: 1rem;
    color: #F90057;
    font-family: "Cerebri Sans";
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
  }
  .panick-btn button:hover {
    background: #F90057;
    color: #fff;
  }
  .alert-page a .bx {
    font-size: 2rem;
    color: #022b69;
    text-align: left;
  }
  .alert-details {
    text-align: center;
  }
  .alert-details h5 {
    font-size: .6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #F90057;
  }
  .alert-details h1 {
    font-size: 1.7rem;
    color: #022b69;
    font-family: 'League Spartan';
  }
  .alert-details p {
    padding-bottom: 1rem;
  }
  .alert-details img {
    width: 120px;
    text-align: center;
  }
  .alert-details #report {
    padding-top: 1rem;
    padding-bottom: 0;
    font-size: .7rem;
    color: #022b69;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .alert-details .cancel-btn {
    padding: .5rem 3rem;
  }
  .alert-details .cancel-btn button {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7rem;
    background: none;
    border: 1px solid #f90057;
    padding: 1rem;
    color: #F90057;
    font-family: "Cerebri Sans";
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
  }
  .alert-details .cancel-btn button:hover {
    background: #F90057;
    color: #fff;
  }
  .alerts-header {
    background: #f8f8f8;
    padding: 1rem .5rem 0 .5rem;
  }
  .alerts-header h1 {
    color: #022b69;
    font-size: 1.7rem;
    font-family: 'League Spartan';
    padding: 0 .5rem;
  }
  .alert-links ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .received-alerts, .sent-alerts {
    padding: 1.5rem 1rem;
    background: #f8f8f8;
    height: 100vh;
  }
  .received-alerts .bx, .sent-alerts .bx {
    font-size: 1.5rem;
    color: #022b60;
    background: #eee;
    padding: .5rem;
    border-radius: 50px;
  }
  .received-alerts a, .sent-alerts a {
    text-decoration: none;
  }
  .alerts-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
    padding: .5rem;
    border-bottom: 1px solid #eee;
  }
  .alerts-info h6 {
    color: #022b69;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: .8rem;
    padding-top: .4rem;
  }
  .alerts-info h5 {
    font-size: .8rem;
    color: rgba(2, 43, 105, 0.4);
  }
  .alerts-info p {
    font-size: .7rem;
    color: #f90057;
  }
  .details-info {
    padding: 2rem 1rem;
    background: #f8f8f8;
    height: 100vh;
  }
  .details-info h6 {
    color: rgba(2, 43, 105, 0.6);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .7rem;
  }
  .details-info h5 {
    font-size: 1rem;
    color: #022b69;
  }
  .details-info .alert-category {
    color: #F90057;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .7rem;
  }
  .details-info .success {
    color: #09ebaf;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .7rem;
  }
  .detail-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
  }
  .detail-content .details {
    border-bottom: 1px solid #eee;
    padding-top: 1rem;
    padding-bottom: .8rem;
  }
  .detail-content .detail-header {
    border-bottom: 1px solid #eee;
  }
  .alerts-heading h1 {
    color: #022b69;
    font-size: 1.7rem;
    font-family: 'League Spartan';
    padding: 0 .5rem 1.5rem .5rem;
  }
  h4 {
    font-weight: 900;
    font-family: 'League Spartan';
    color: #041969;
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .guide-type {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: .5rem 1.5rem;
    padding-bottom: 8rem;
  }
  .guide-type a {
    padding: .5rem 0;
    text-decoration: none;
  }
  .guide {
    background: #f8f8f8;
    border-radius: 8px;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    padding: 2rem;
    cursor: pointer;
  }
  .guide h4 {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'League Spartan';
  }
  .guide p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .6rem;
  }
  .accident {
    background: #eee;
  }
  .accident h4, .accident p {
    color: #F90057;
  }
  .life {
    background: #eee;
  }
  .life h4, .life p {
    color: #070646;
  }
  .health {
    background: rgba(9, 235, 175, 0.8);
  }
  .health h4, .health p {
    color: #041969;
  }
  .guide-page {
    text-align: left;
    padding: 1rem 0;
  }
  .guide-page .guide-header {
    padding-top: 0;
  }
  .guide-page .guide-header h5 {
    font-size: .7rem;
    color: #F90057;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .guide-page .guide-header h1 {
    font-size: 1.8rem;
    color: #022b69;
    font-family: 'League Spartan';
  }
  .guide-page .guide-header p {
    color: rgba(2, 43, 105, 0.9);
    font-size: 1rem;
    font-weight: bolder;
  }
  .guide-page .guide-content p, .guide-page .guide-content li {
    color: rgba(2, 43, 105, 0.6);
    font-size: .9rem;
    text-align: justify;
  }
  .guide-page .guide-content ul {
    padding: 0 2rem;
  }
  .guide-page h2 {
    font-family: 'League Spartan';
    color: #022b69;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .7rem;
  }
  .accordion-item {
    background: #f8f8f8;
  }
  .accordion-item .item-title {
    color: #F90057;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .7rem;
  }
  .accordion-item p {
    color: #022b69;
    font-size: .9rem;
  }
  .actions-page {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: .5rem 1.5rem;
    padding-bottom: 8rem;
  }
  .actions-page a {
    padding-top: 1rem;
    text-decoration: none;
  }
  .actions-page .actions {
    background: #fff;
    border-radius: 8px;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
    padding: 1rem 2rem;
    cursor: pointer;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  .actions-page .actions h4 {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'League Spartan';
  }
  .actions-page .actions p {
    color: #022b69;
    font-size: .95rem;
  }
  .alerts h4, .alerts p {
    color: #f3008b;
  }
  .alerts .bx {
    font-weight: bolder;
    font-size: 1.2rem;
    color: #f3008b;
    background: rgba(249, 0, 87, 0.2);
    padding: .8rem;
    border-radius: 50px;
  }
  .contacts h4, .contacts p {
    color: #041969;
  }
  .contacts .bx {
    font-weight: bolder;
    font-size: 1.2rem;
    color: #09ebaf;
    background: rgba(9, 235, 175, 0.2);
    padding: .8rem;
    border-radius: 50px;
  }
  .contact-page p {
    padding: 2rem 0;
    font-size: 0.95rem;
    text-align: justify;
    color: rgba(2, 43, 105, 0.7);
  }
  .contact-page button {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    background: #f90057;
    border: 1px solid #f90057;
    padding: 1rem;
    color: #fff;
    font-family: "Cerebri Sans";
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  .mobileNumber .bx {
    font-size: 2.2rem;
    padding-top: 5rem;
    color: rgba(2, 43, 105, 0.6);
  }
  .mobileNumber input {
    padding-top: 6rem;
    font-size: 2.2rem;
    color: #022b69;
    font-family: "League Spartan";
    width: 100%;
    border: none;
    border-bottom: 3px solid #022b69;
    background: none;
    outline: none;
    text-align: center;
  }
  .mobileNumber h6 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(2, 43, 105, 0.6);
    font-size: 0.6rem;
    padding: 0.5rem 0;
    font-weight: lighter;
  }
  .contact-details {
    text-align: left;
    padding: 0.5rem;
  }
  .contact-details .items {
    padding: 0.8rem 0;
  }
  .contact-details span {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(2, 43, 105, 0.6);
    font-size: 0.6rem;
    padding: 0.5rem 0;
    font-weight: lighter;
  }
  .contact-details input {
    width: 100%;
    padding: 0.5rem 0.8rem;
    outline: none;
    border: 1px solid #eee;
    border-radius: 5px;
    font-family: 'Cerebri Sans';
  }
  .contact-details input:focus {
    border: 1px solid #022b69;
  }
  .contact-details .form-control {
    font-family: 'Cerebri Sans';
  }
  button {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    background: #f90057;
    border: 1px solid #f90057;
    padding: 1rem;
    color: #fff;
    font-family: "Cerebri Sans";
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  .contactinfo-page {
    background: #f8f8f8;
    height: 100vh;
    padding: 1.5rem 1rem;
  }
  .contactinfo-page .contact-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15% 85%;
        grid-template-columns: 15% 85%;
    border-bottom: 1px solid  #eee;
    padding: .5rem;
  }
  .contactinfo-page .contact-icon {
    padding: .3rem 0;
  }
  .contactinfo-page .contact-icon .bx {
    font-size: 1.2rem;
    background: #eee;
    padding: .5rem;
    border-radius: 100%;
  }
  .contactinfo-page .contact-name {
    padding-top: .6rem;
  }
  .contactinfo-page .contact-name h5 {
    font-size: 1rem;
    color: #022b69;
  }
  #item-title {
    color: #022b69;
    font-size: .7rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  #item-text {
    color: rgba(2, 43, 105, 0.6);
  }
  #block-title {
    letter-spacing: 2px;
    color: #F90057;
    text-transform: uppercase;
    font-size: .7rem;
  }
  .settings-page {
    padding: 0 .5rem;
  }
  .settings-page .edit-area {
    padding: .5rem;
  }
  .settings-page .edit-area .edit-form {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    padding: .6rem;
    color: #022b69;
  }
  .settings-page .edit-area h5 {
    color: #022b69;
    font-size: .6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: .5rem 0;
  }
  .settings-page .editBtn {
    padding: 1rem .5rem;
  }
  .profile_img {
    text-align: center;
  }
  .profile_img img {
    width: 40%;
    border-radius: 100%;
  }
  .profile_img h5 {
    font-size: .9rem;
    font-family: 'League Spartan';
    color: #022b69;
    padding: .5rem 0;
  }
  .profile_img a {
    background: #F90057;
    color: #fff;
    padding: .3rem .8rem;
    border-radius: 25px;
    font-size: .8rem;
  }
  #custom_nav .bx {
    color: #F90057;
    font-size: 1.3rem;
    background: rgba(249, 0, 87, 0.1);
    border-radius: 100%;
    padding: .3rem;
  }
  #custom_nav .item-title {
    color: #022b69;
    padding: .5rem 0;
    font-size: .75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .profile-page {
    background: #f8f8f8;
    height: 120%;
  }
  .profile-page .profile-header {
    text-align: center;
  }
  .profile-page .profile-header .p-header {
    padding: 2rem 2rem;
    border-bottom: 1px solid #eee;
  }
  .profile-page .profile-header .p-header img {
    width: 40%;
    border-radius: 100%;
  }
  .profile-page .profile-header .p-header h4 {
    font-size: 1.2rem;
    padding-top: 1rem;
    color: #022b69;
  }
  .profile-page .profile-header .p-header h6 {
    font-size: .8rem;
    color: #F90057;
  }
  .profile-page .profile-details {
    padding: 1rem;
  }
  .profile-page .profile-details .p-details {
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
  }
  .profile-page .profile-details .p-details h5 {
    color: rgba(2, 43, 105, 0.4);
    font-size: .6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .profile-page .profile-details .p-details h6 {
    font-size: 1rem;
    color: #022b69;
  }
  .edit-page {
    padding: 2rem .5rem 0 .5rem;
    background: #f8f8f8;
    height: 100vh;
  }
  .edit-page .edit-area {
    padding: .5rem;
  }
  .edit-page .edit-area .edit-form {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    padding: .6rem;
    color: #022b69;
  }
  .edit-page .edit-area h5 {
    color: #022b69;
    font-size: .6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: .5rem 0;
  }
  .edit-page .editBtn {
    padding: 1rem .5rem;
  }
  #about-page {
    background: #f8f8f8;
    height: 100vh;
  }
  .bottom-panel {
    text-align: center;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    color: #000;
    background: #fff;
    padding: 1rem 0;
    display: -ms-grid;
    display: grid;
    position: absolute;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .bottom-panel a {
    text-decoration: none;
  }
  .info-set:hover {
    color: #F90057;
  }
  .info-set .active .bx, .info-set .active span {
    color: #F90057;
  }
  .info-set .bx {
    font-size: 1.2rem;
    padding: 0 .8rem;
    color: rgba(2, 43, 105, 0.6);
  }
  .info-set .bx:hover {
    color: #F90057;
  }
  .info-set span {
    padding-top: .5rem;
    text-transform: capitalize;
    color: rgba(2, 43, 105, 0.6);
    font-size: .8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info-set span:hover {
    color: #F90057;
  }
}
/*# sourceMappingURL=main.css.map */