<div class="page" data-name="about">
  <div class="navbar no-shadow">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="bx bx-arrow-back"></i>
          <span class="if-not-md">Back</span>
        </a>
      </div>
      <!-- <div class="title" id="inner-title">About</div> -->
    </div>
  </div>
  <div class="page-content" id="about-page">
    <div id="inner-title">About Riviec</div>
    <p id="about">
      Riviec is an emergency alert response app designed to aid any emergency
      related issue in Rivers State.
    </p>
    <div class="about">
      <div class="about-info">
        <a href="/guide/">Guide</a>
      </div>  
      <div class="about-info">
        <a href="#">Website</a>
      </div>  
      <div class="about-info">
        <a href="#">Chat With Us</a>
      </div>  
    </div>
  </div>
</div>
