<!--Login Page-->
<div class="page">
    
    <!-- Scrollable page content -->
    <div class="page-content">
        <!--Actions Section-->
        <div class="content" id="guide">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="header-text">
                        <p class="heading-lg">Actions.</p>
                        <p class="heading-sm">Effecively manage your alerts and emergency contacts</p>
                    </div>
                    <div class="page-content">
                        <div class="guide-type">
                            <a href="/alerts/">
                                <div class="guide accident">
                                <!-- <i class='bx bxs-bell-ring'></i> -->
                                    <h4>Monitor Alerts</h4>
                                    <br>
                                    <p>View received and sent emergency alerts</p>
                                </div>
                            </a>
                            <a href="/contacts/">
                                <div class="guide life">
                                    <!-- <i class='bx bx-layer-plus'></i> -->
                                    <h4>Manage Contact</h4>
                                    <br>
                                    <p>Manage your contacts, edit or delete them</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Actions Section-->
    </div>
</div>