<!--Login Page-->
<div class="page">
    
    <!-- Scrollable page content -->
    <div class="page-content">
        <div class="content">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <!--Page Header-->
                    <div class="header-text">
                        <p class="heading-lg">Alert.</p>
                        <p class="heading-sm">Send us an emergency alert, our response team will meet you as fast as we
                            can</p>
                    </div>
                    <!--End of Page Header-->
                    <div class="page-content">
                        <div class="tabs">
                            <div id="content_1" class="tabcontent">
                                <div class="alert-type">
                                    <a href="/alert-info/">
                                        <div class="alert">
                                            <i class='bx bxs-car-crash'></i>
                                            <br>
                                            <p>accident</p><br>
                                        </div>
                                    </a>
                                    <div class="alert">
                                        <i class='bx bxs-hot'></i>
                                        <br>
                                        <p>fire</p>
                                    </div>
                                    <div class="alert">
                                        <!-- <i class='bx bx-bolt-circle'></i> -->
                                        <i class='bx bx-ghost'></i>
                                        <br>
                                        <p> theft</p><br>
                                    </div>
                                    <div class="alert">
                                        <!-- <i class='bx bx-female'></i> -->
                                        <i class='bx bx-first-aid'></i>
                                        <br>
                                        <p>medical</p><br>
                                    </div>
                                    <div class="alert">
                                        <!-- <i class='bx bx-female'></i> -->
                                        <i class='bx bx-water'></i>
                                        <br>
                                        <p>flood</p><br>
                                    </div>
                                    <div class="alert">
                                        <!-- <i class='bx bx-female'></i> -->
                                        <i class='bx bxs-car-mechanic'></i>
                                        <br>
                                        <p>stranded</p><br>
                                    </div>
                                    
                                </div>
                                <!-- <div class="panick-btn">
                                <button>Send panic alert</button>
                            </div> -->
                            </div>
                            <div id="content_2" class="tabcontent" style="display:none;" data-aos="fade-right">
                                <div class="alert-type">
                                    <a href="alert-info.html">
                                        <div class="alert">
                                            <i class='bx bxs-car-crash'></i>
                                            <br>
                                            <p>accident</p>
                                        </div>
                                    </a>
                                    <a href="alert-info.html">
                                        <div class="alert">
                                            <i class='bx bxs-hot'></i>
                                            <br>
                                            <p>fire</p>
                                        </div>
                                    </a>
                                    <a href="alert-info.html">
                                        <div class="alert">
                                            <i class='bx bx-water'></i>
                                            <br>
                                            <p>flood</p>
                                        </div>
                                    </a>
                                    <a href="alert-info.html">
                                        <div class="alert">
                                            <i class='bx bx-swim'></i>
                                            <br>
                                            <p>Drowning</p>
                                        </div>
                                    </a>
                                </div>
                                <!-- <div class="panick-btn">
                            <button>Send panic alert</button>
                        </div> -->
                            </div>
                            <div id="content_3" class="tabcontent" style="display:none;" data-aos="fade-right">
                                <div class="alert-type">
                                    <div class="alert">
                                        <i class='bx bx-first-aid'></i>
                                        <br>
                                        <p>Medical</p>
                                    </div>
                                    <div class="alert">
                                        <i class='bx bx-first-aid'></i>
                                        <br>
                                        <p>stranded</p>
                                    </div>
                                    <div class="alert">
                                        <i class='bx bxs-baby-carriage'></i>
                                        <br>
                                        <p>labour</p>
                                    </div>
                                    <div class="alert">
                                        <i class='bx bx-first-aid'></i>
                                        <br>
                                        <p>kidnapped</p>
                                    </div>
                                </div>
                                <!-- <div class="panick-btn">
                                <button>Send panic alert</button>
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>