<div class="page">
    <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class='bx bx-arrow-back'></i>
                    <span class="if-not-md">Back</span>
                </a>
            </div>
            <div class="title" id="inner-title">Alerts</div>
        </div>
    </div>
    <div class="page-content">
        <div class="received-alerts">
            <a href="/alerts-details/">
                <div class="alerts-info">
                    <div class="alerts-icon">
                        <i class='bx bx-right-down-arrow-circle'></i>
                    </div>
                    <div class="alerts-content">
                        <h6><b>Fire Alert</b></h6>
                        <h5>From: Timothy Boma</h5>
                    </div>
                    <div class="alerts-time">
                        <p>5:13PM</p>
                    </div>
                </div>
            </a>
            <a href="/alerts-details/">
                <div class="alerts-info">
                    <div class="alerts-icon">
                        <i class='bx bx-right-top-arrow-circle'></i>
                    </div>
                    <div class="alerts-content">
                        <h6><b>Accident Alert</b></h6>
                        <h5>To: Emergency Contacts</h5>
                    </div>
                    <div class="alerts-time">
                        <p>3:07PM</p>
                    </div>
                </div>
            </a>
            <a href="/alerts-details/">
                <div class="alerts-info">
                    <div class="alerts-icon">
                        <i class='bx bx-right-down-arrow-circle'></i>
                    </div>
                    <div class="alerts-content">
                        <h6><b>Theft Alert</b></h6>
                        <h5>From: Samuel Jennifer</h5>
                    </div>
                    <div class="alerts-time">
                        <p>1:07PM</p>
                    </div>
                </div>
            </a>
            <a href="/alerts-details/">
                <div class="alerts-info">
                    <div class="alerts-icon">
                        <i class='bx bx-right-down-arrow-circle'></i>
                    </div>
                    <div class="alerts-content">
                        <h6><b>Health Alert</b></h6>
                        <h5>From: Angela Chinda</h5>
                    </div>
                    <div class="alerts-time">
                        <p>8:00AM</p>
                    </div>
                </div>
            </a>
            
            
        </div>
    </div>
</div>