<div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class='bx bx-arrow-back'></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title" id="inner-title"> Alert Details </div>
        <div class="right">
          <a href="/actions/" class="link" data-panel="right">
            <i class='bx bx-trash'></i>
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">
        <div class="alert-details-info">
            <div class="details-info">
                <div class="detail-header">
                    <h6>Alert</h6>
                    <h5 class="alert-category">Fire Alert </h5>
                </div>
                <div class="detail-content">
                    <div class="details">
                        <h6>From</h6>
                        <h5>Timothy Boma</h5>
                    </div>
                    <div class="details">
                        <h6>Status</h6>
                        <h5 class="success">success</h5>
                    </div>
                    <div class="details">
                        <h6>Time</h6>
                        <h5>5:45PM</h5>
                    </div>
                    <div class="details">
                        <h6>Date</h6>
                        <h5>Dec 8, 2019</h5>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
  