<!--Login Page-->
<div class="page">
    <!-- Top Navbar -->
    <div class="navbar no-shadow">
        <div class="navbar-bg"></div>
        <div class="left"><a href="#" class="link back"><i class='bx bx-arrow-back'></i></a></div>
        <!-- <div class="navbar-inner">
            <div class="title">Riviec</div>
        </div> -->
    </div>
    <!-- Scrollable page content -->
    <div class="page-content">
        <div class="content" id="wrapper">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="page-content">
                        <div class="alert-details">
                            <h5>Emergency category: Disaster</h5>
                            <h1>Accident Alert</h1>
                            <p>You are about to send an <b>Accident alert</b>. You can check our guide to aid
                                the situation before our response team comes.</p>
                                
                            <img src="img/alertbtn.png" alt="ALERT Btn">
                            <div class="cancel-btn">
                                <a href="/messages/"><p id="report"></p></a>
                                <a href="#" class="link back"><button>Cancel Alert</button></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>