<template>
  <div class="page" data-name="catalog">
    <div class="navbar no-shadow">
      <div class="navbar-bg"></div>
      <div class="left"><a href="#" class="link back"><i class='bx bx-arrow-back'></i></a></div>
      <div class="navbar-inner">
          <div class="title">Catalog</div>
      </div>
    </div>
    <div class="navbar no-shadow">
      <div class="navbar-bg "></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class='bx bx-arrow-back'></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">
            <div class="page-header">
                <h4>My Profile.</h4>
            </div>
        </div>
      </div><br><br>
      <div class="toolbar toolbar-top tabbar">
        <div class="toolbar-inner">
            <a href="#tab-1" class="tab-link tab-link-active">Personal</a>
            <a href="#tab-2" class="tab-link">Security</a>
            <a href="#tab-3" class="tab-link">Edit</a>
        </div>
    </div>
    </div>
    <div class="page-content">
      <!-- <div class="alerts-header">
        <h1>Catalog</h1>
      </div> -->
      
    <div class="tabs" id="profile-sections">
      <div id="tab-1" class="page-content tab tab-active">
          <div class="section-1">
              <div class="profile-picture">
                  <img src="img/avatar.jpg" alt="">
                  <p>Tap to change profile picture</p>
              </div>
              <div class="profile-info">
                  <div class="details">
                      <p class="question">First name</p>
                      <p class="answer">Braide</p>
                  </div>
                  <div class="details">
                      <p class="question">Last name</p>
                      <p class="answer">Shekinah</p>
                  </div>
                  <div class="details">
                      <p class="question">Gender</p>
                      <p class="answer">Male</p>
                  </div>
                  <div class="details">
                      <p class="question">Blood Group</p>
                      <p class="answer">Group O Rhesus +</p>
                  </div>
              </div>
          </div>
      </div>
      <div id="tab-2" class="page-content tab">
          <div class="section-2">
              <div id="content_2" class="tabcontent">
                  <div class="security-details">
                      <span>Verified Information</span>
                      <div class="details">
                          <p class="bold">Email Address</p>
                          <p>braideshekinah@gmail.com</p>
                      </div>
                      <div class="details">
                          <p class="bold">Phone Number</p>
                          <p>0812 407 6934</p>
                      </div>
                      <div class="details">
                          <span>Change Password</span>
                          <form action="" autocomplete="off">
                              <div class="text-area">
                                  <div class="label"><i class='bx bx-lock-alt'></i>
                                  </div>
                                  <input type="password" name="" id="" placeholder="Old Password">
                              </div>
                              <div class="text-area">
                                  <div class="label"><i class='bx bx-lock-alt'></i>
                                  </div>
                                  <input type="password" name="" id="" placeholder="New Password">
                              </div><br><br>
                              <button>Change Password</button>
                          </form>
                      </div>

                  </div>
              </div>
          </div>
      </div>
      <div id="tab-3" class="page-content tab">
          <div class="section-3">
              <div id="content_3" class="tabcontent">
                  <div class="edit-details">
                      <div class="details">
                          <span>Edit Details</span>
                          <form action="" autocomplete="off">
                              <div class="text-area">
                                  <div class="label"><i class='bx bx-phone'></i> Phone Number
                                  </div>
                                  <input type="tel" name="" id="">
                              </div>
                              <div class="text-area">
                                  <div class="label"><i class='bx bx-group'></i> Gender
                                  </div>
                                  <input type="text" name="" id="">
                              </div>
                              <div class="text-area">
                                  <div class="label"><i class='bx bx-grid-alt'></i> Blood Group
                                  </div>
                                  <input type="text" name="" id="">
                              </div><br><br>
                              <button>Edit Profile</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    </div>
  </div>
</template>
<script>
  return {
    data: function () {
      return {
        products: this.$root.products,
      };
    }
  };
</script>
