<!--Login Page-->
<div class="page">
    
    <!-- Scrollable page content -->
    <div class="page-content">
        <div class="content" id="contact">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="header-text">
                        <p class="heading-lg">We recommend you<br> add emergency <span>contacts</span></p>
                    </div>
                    <div class="page-content">
                        <div class="contact-page">
                            <p>Emergency contacts enables us to notify your loved ones whenever you send an alert. We strongly suggest you inform them before creating an emergency contact.
                            </p>
    
                           <a href="/create-contact/"><button>Let's Start</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>