<div class="page">
  <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
          <div class="left">
              <a href="#" class="link back">
                  <i class='bx bx-arrow-back'></i>
                  <span class="if-not-md">Back</span>
              </a>
          </div>
          <div class="title" id="inner-title">Contacts</div>
      </div>
  </div>
  <div class="page-content">
      <div class="contactinfo-page">
        <a href="/contacts-info/">
          <div class="contact-info">
              <div class="contact-icon">
                <i class='bx bx-user'></i>
              </div>
              <div class="contact-name">
                  <h5>Cynthia Maxwell</h5>
              </div>
          </div>
        </a>
        <a href="/contacts-info/">
          <div class="contact-info">
              <div class="contact-icon">
                <i class='bx bx-user'></i>
              </div>
              <div class="contact-name">
                  <h5>Mascott Sambaris</h5>
              </div>
          </div>
        </a>
        <a href="/contacts-info/">
          <div class="contact-info">
              <div class="contact-icon">
                <i class='bx bx-user'></i>
              </div>
              <div class="contact-name">
                  <h5>Samuel Ibiyeomie</h5>
              </div>
          </div>
        </a>
      </div>
  </div>
</div>