<div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class='bx bx-arrow-back'></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title" id="inner-title"> Contact Info </div>
        <div class="right">
          <a href="/editContact/" class="link" data-panel="right">
            <i class='bx bx-pencil'></i>
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="details-info">
                <div class="detail-header">
                    <h6>Contact</h6>
                    <h5 class="alert-category">Emergency Contacts </h5>
                </div>
                <div class="detail-content">
                    <div class="details">
                        <h6>Name</h6>
                        <h5>Name Surname</h5>
                    </div>
                    <div class="details">
                        <h6>Status</h6>
                        <h5 class="success">Added</h5>
                    </div>
                    <div class="details">
                        <h6>Time</h6>
                        <h5>5:45PM</h5>
                    </div>
                    <div class="details">
                        <h6>Date</h6>
                        <h5>Dec 8, 2019</h5>
                    </div>
                    
                </div><br><br><br>
                <div class="editBtn">
                    <button href="#" class="col button button-large button-fill button-raised">Delete Contact</button>
                  </div>
            </div>
        </div>
    </div>
  </div>
  