<!--Login Page-->
<div class="page">
    <!-- Top Navbar -->
    <div class="navbar no-shadow">
        <div class="navbar-bg"></div>
        <div class="left"><a href="#" class="link back"><i class='bx bx-arrow-back'></i></a></div>
        <!-- <div class="navbar-inner">
            <div class="title">Riviec</div>
        </div> -->
    </div>
    <!-- Scrollable page content -->
    <div class="page-content">
        <div class="content" id="wrapper">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="page-content">
                        <div class="form-content">
                            <form action="#">
                                <div class="mobileNumber">
                                    <!-- <i class='bx bx-user-pin'></i> -->
                                    <input type="tel" maxlength="11" autofocus>
                                    <h6>contact</h6>
                                </div>
                                <div class="contact-details">
                                    <div class="items">
                                        <span>Name</span>
                                        <input class="form-control" type="text">
                                    </div>
                                    <div class="items">
                                        <span>Relationship</span>
                                        <select class="form-control">
                                            <option value="">Tap to Change</option>
                                            <option value="">Spouse</option>
                                            <option value="">Parents</option>
                                            <option value="">Children</option>
                                            <option value="">Friends</option>
                                        </select>
                                    </div><br>
                                    <button>Create</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>