<div class="page">
    <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class='bx bx-arrow-back'></i>
                    <span class="if-not-md">Back</span>
                </a>
            </div>
            <div class="title" id="inner-title">Edit Profile </div>
        </div>
    </div>
    <div class="page-content">
        <div class="edit-page">
            <form action="">
                <div class="edit-area">
                    <h5>Contact</h5>
                    <input class="edit-form" type="email" name="" id="">
                </div>
                <div class="edit-area">
                    <h5>Address</h5>
                    <input class="edit-form" type="email" name="" id="">
                </div>
                <div class="edit-area">
                    <h5>Blood Group</h5>
                    <select class="edit-form">
                        <option value="">Tap to Change</option>
                        <option value="">A</option>
                        <option value="">B</option>
                        <option value="">AB</option>
                        <option value="">O</option>
                    </select>
                </div>
                <div class="edit-area">
                    <h5>Allergies?</h5>
                    <input class="edit-form" type="email" name="" id="">
                </div>
                <div class="edit-area">
                    <h5>Other Medical Conditions</h5>
                    <input class="edit-form" type="email" name="" id="">
                </div>
                <div class="editBtn">
                    <button href="#" class="col button button-large button-fill">Save</button>
                  </div>
            </form>
            
        </div>
        
    </div>
</div>