<div class="page">
    <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class='bx bx-arrow-back'></i>
                    <span class="if-not-md">Back</span>
                </a>
            </div>
            <div class="title" id="inner-title">Edit Contact </div>
        </div>
    </div>
    <div class="page-content">
        <div class="edit-page">
            <form action="">
                <div class="edit-area">
                    <h5>Name</h5>
                    <input class="edit-form" type="email" name="" id="">
                </div>
                <div class="edit-area">
                    <h5>Mobile Number</h5>
                    <input class="edit-form" type="email" name="" id="">
                </div>
                <div class="edit-area">
                    <h5>Relationship</h5>
                    <select class="edit-form">
                        <option value="">Tap to Change</option>
                        <option value="">Parent</option>
                        <option value="">Spouse</option>
                        <option value="">Friend</option>
                        <option value="">Sibling</option>
                    </select>
                </div>
                <div class="editBtn">
                    <button href="#" class="col button button-large button-fill button-raised">Save</button>
                  </div>
            </form>
            
        </div>
        
    </div>
</div>