<!--Login Page-->
<div class="page">
    <!-- Top Navbar -->
    <div class="navbar no-shadow">
        <div class="navbar-bg"></div>
        <div class="left"><a href="#" class="link back"><i class='bx bx-arrow-back'></i></a></div>
        <!-- <div class="navbar-inner">
            <div class="title">Riviec</div>
        </div> -->
    </div>
    <!-- Scrollable page content -->
    <div class="page-content">
        <div class="content" id="wrapper">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="guide-page">
                        <div class="guide-header">
                            <h5>Guide Category: Disaster</h5>
                            <h1>Gas Explosion</h1>
                            <p>Follow these steps to ease the situation</p>
                        </div>
                        <div class="guide-content">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, iure quis pariatur cupiditate quaerat culpa praesentium ut quae ipsam delectus.</p>
                            <ul>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                                <li>Lorem, ipsum dolor.</li>
                            </ul>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, perspiciatis velit? Facilis corrupti iure officia?</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>