<!--Login Page-->
<div class="page">
    <!-- Scrollable page content -->
    <div class="page-content">
        <div class="content" id="guide" >
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="header-text">
                        <p class="heading-lg">Guide</p>
                        <p class="heading-sm">Use our guide to ease the situation before our response team gets to you </p>
                    </div>
                    <div class="page-content">
                        <div class="guide-page">
                            <h2>General</h2>
                        <div class="list accordion-list">
                            <ul>
                              <li class="accordion-item">
                                <a href="#" class="item-link item-content">
                                  <div class="item-inner">
                                    <div class="item-title">How do I make emergency calls? </div>
                                  </div>
                                </a>
                                <div class="accordion-item-content">
                                  <div class="block">
                                    <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. 
                                    </p>
                                  </div>
                                </div>
                              </li>
                              <li class="accordion-item">
                                <a href="#" class="item-link item-content">
                                  <div class="item-inner">
                                    <div class="item-title">Where are your emergency centers?</div>
                                  </div>
                                </a>
                                <div class="accordion-item-content">
                                  <div class="block">
                                    <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. 
                                    </p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                        </div>

                        <h2>Accident</h2>
                        <div class="list accordion-list">
                            <ul>
                              <li class="accordion-item">
                                <a href="#" class="item-link item-content">
                                  <div class="item-inner">
                                    <div class="item-title">How to stop excessive bleeding</div>
                                  </div>
                                </a>
                                <div class="accordion-item-content">
                                  <div class="block">
                                    <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. 
                                    </p>
                                  </div>
                                </div>
                              </li>
                              <li class="accordion-item">
                                <a href="#" class="item-link item-content">
                                  <div class="item-inner">
                                    <div class="item-title">Put off Gas explosion</div>
                                  </div>
                                </a>
                                <div class="accordion-item-content">
                                  <div class="block">
                                    <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. 
                                    </p>
                                  </div>
                                </div>
                              </li>
                              <li class="accordion-item">
                                <a href="#" class="item-link item-content">
                                  <div class="item-inner">
                                    <div class="item-title">how to administer CPR</div>
                                  </div>
                                </a>
                                <div class="accordion-item-content">
                                  <div class="block">
                                    <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean elementum id neque nec commodo. Sed vel justo at turpis laoreet pellentesque quis sed lorem. 
                                    </p>
                                  </div>
                                </div>
                              </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>