<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
            <i class='bx bx-arrow-back'></i>
            <span class="if-not-md">Back</span>
        </a>
      </div>
    <div class="title" id="inner-title">Messages</div>
    </div>
  </div>
  <div class="toolbar messagebar" @messagebar:attachmentdelete="deleteAttachment" id="messagebar">
    <div class="toolbar-inner">
      <a class="link icon-only" @click="sheetToggle">
        <i class='bx bxs-file-image'></i>
      </a>
      <div class="messagebar-area">
        <textarea class="resizable" placeholder="Message"></textarea>
      </div>
      <a class="link icon-only demo-send-message-link" @click="sendMessage">
        <i class='bx bx-send'></i>
      </a>
    </div>
    <div class="messagebar-sheet">
      {{#each images}}
      <label class="checkbox messagebar-sheet-image" style="background-image:url({{this}})" @change="handleAttachment">
        <input type="checkbox">
        <i class="icon icon-checkbox"></i>
      </label>
      {{/each}}
    </div>
  </div>
  <div class="page-content messages-content" id="messenger">
    <div class="messages">
      <div class="messages-title"><b>Thursday, January 2,</b> 12:58</div>
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-text">Hello, there's an emergency!</div>
          </div>
        </div>
      </div>
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-text">It's a motor accident</div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar" style="background-image:url(img/app.png)"></div>
        <div class="message-content">
          <div class="message-name">okay</div>
          <div class="message-bubble">
            <div class="message-text">where is the location of the accident?</div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar" style="background-image:url(img/app.png)"></div>
        <div class="message-content">
          <div class="message-name">okay</div>
          <div class="message-bubble">
            <div class="message-text">have you sent an emergency alert?</div>
          </div>
        </div>
      </div>
      <div class="message message-sent">
        <div class="message-content">
          <div class="message-bubble">
            <div class="message-text">Yes, I have</div>
          </div>
        </div>
      </div>
      <div class="message message-received">
        <div class="message-avatar" style="background-image:url(img/app.png)"></div>
        <div class="message-content">
          <div class="message-name">okay</div>
          <div class="message-bubble">
            <div class="message-text">We are on our way! Meanwhile read our guide to aid the situation...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  return {
    data: function () {
      return {
        images: [
          'https://cdn.framework7.io/placeholder/cats-300x300-1.jpg',
          'https://cdn.framework7.io/placeholder/cats-200x300-2.jpg',
          'https://cdn.framework7.io/placeholder/cats-400x300-3.jpg',
          'https://cdn.framework7.io/placeholder/cats-300x150-4.jpg',
          'https://cdn.framework7.io/placeholder/cats-150x300-5.jpg',
          'https://cdn.framework7.io/placeholder/cats-300x300-6.jpg',
          'https://cdn.framework7.io/placeholder/cats-300x300-7.jpg',
          'https://cdn.framework7.io/placeholder/cats-200x300-8.jpg',
          'https://cdn.framework7.io/placeholder/cats-400x300-9.jpg',
          'https://cdn.framework7.io/placeholder/cats-300x150-10.jpg'
        ],
        people: [
          {
            name: 'Kate Johnson',
            avatar: 'https://cdn.framework7.io/placeholder/people-100x100-9.jpg'
          },
          {
            name: 'Blue Ninja',
            avatar: 'https://cdn.framework7.io/placeholder/people-100x100-7.jpg'
          },
        ],
        answers: [
          'Yes!',
          'No',
          'Hm...',
          'I am not sure',
          'And what about you?',
          'May be ;)',
          'Lorem ipsum dolor sit amet, consectetur',
          'What?',
          'Are you sure?',
          'Of course',
          'Need to think about it',
          'Amazing!!!',
        ],
        responseInProgress: false,
      }
    },
    methods: {
      sheetToggle: function () {
        var self = this;
        self.messagebar.sheetToggle();
      },
      deleteAttachment: function (e, index) {
        var self = this;
        var image = self.messagebar.attachments.splice(index, 1)[0];
        self.messagebar.renderAttachments();
        self.checkAttachments();
        // Uncheck in sheet
        var imageIndex = self.images.indexOf(image);
        self.$el.find('.messagebar-sheet .checkbox').eq(imageIndex).find('input').prop('checked', false);
      },
      handleAttachment: function (e) {
        var self = this;
        var $$ = self.$$;
        var index = $(e.target).parents('label.checkbox').index();
        var image = self.images[index];
        if (e.target.checked) {
          // Add to attachments
          self.messagebar.attachments.unshift(image)
        } else {
          // Remove from attachments
          self.messagebar.attachments.splice(self.messagebar.attachments.indexOf(image), 1);
        }
        self.messagebar.renderAttachments();
        self.checkAttachments();
      },
      checkAttachments: function () {
        var self = this;
        if (self.messagebar.attachments.length > 0) {
          self.messagebar.attachmentsShow();
          self.messagebar.setPlaceholder('Add comment or Send');
        } else {
          self.messagebar.attachmentsHide();
          self.messagebar.setPlaceholder('Message');
        }
      },
      sendMessage: function () {
        var self = this;
        var text = self.messagebar.getValue().replace(/\n/g, '<br>').trim();
        var messagesToSend = [];
        self.messagebar.attachments.forEach(function (attachment) {
          var size = attachment.split('placeholder/cats-')[1].split('-')[0].split('x');
          messagesToSend.push({
            image: '<img src="' + attachment + '" style="width: ' + (size[0]/2) + 'px; height: ' + (size[1]/2) + 'px">'
          });
        });
        if (text.trim().length) {
          messagesToSend.push({
            text: text
          });
        }
        // Reset attachments
        self.messagebar.attachments = [];
        self.checkAttachments();
        // Hide sheet
        self.messagebar.sheetHide();
        // Uncheck selected images in sheet
        self.messagebar.$sheetEl.find('input').prop('checked', false);
        // Clear area
        self.messagebar.clear();
        // Focus area
        if (text.length) self.messagebar.focus();
        // Send message
        self.messages.addMessages(messagesToSend);

        // Mock response
        if (self.responseInProgress) return;
        self.responseInProgress = true;
        setTimeout(function () {
          var answer = self.answers[Math.floor(Math.random() * self.answers.length)];
          var person = self.people[Math.floor(Math.random() * self.people.length)];
          self.messages.showTyping({
            header: person.name + ' is typing',
            avatar: person.avatar
          });
          setTimeout(function () {
            self.messages.addMessage({
              text: answer,
              type: 'received',
              name: person.name,
              avatar: person.avatar
            });
            self.messages.hideTyping();
            self.responseInProgress = false;
          }, 4000);
        }, 1000);
      },
    },
    on: {
      pageBeforeRemove: function (e, page) {
        var self = this;
        if (self.messagebar) self.messagebar.destroy();
      },
      pageInit: function (e, page) {
        var self = this;
        var app = self.$app;
        self.messagebar = app.messagebar.create({
          el: page.$el.find('.messagebar'),
          attachments: []
        });
        self.messages = app.messages.create({
          el: page.$el.find('.messages'),
          firstMessageRule: function (message, previousMessage, nextMessage) {
            if (message.isTitle) return false;
            if (!previousMessage || previousMessage.type !== message.type || previousMessage.name !== message.name) return true;
            return false;
          },
          lastMessageRule: function (message, previousMessage, nextMessage) {
            if (message.isTitle) return false;
            if (!nextMessage || nextMessage.type !== message.type || nextMessage.name !== message.name) return true;
            return false;
          },
          tailMessageRule: function (message, previousMessage, nextMessage) {
            if (message.isTitle) return false;
            if (!nextMessage || nextMessage.type !== message.type || nextMessage.name !== message.name) return true;
            return false;
          }
        });
      }
    }
  }
</script>
