<div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="/dashboard/" class="link">
            <i class='bx bx-arrow-back'></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title" id="inner-title"> Profile </div>
        <div class="right">
          <a href="/edit/" class="link" data-panel="right">
            <i class='bx bx-pencil'></i>
          </a>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="profile-page">
        <div class="profile-header">
          <div class="p-header">
            <img src="img/avatar.jpg" alt="">
            <div class="p-details">
              
              <h4>Braide Shekinah</h4>
              <h6>braideshekinah@gmail.com</h6>
            </div>
          </div>
        </div>
        <div class="profile-details">
          <div class="p-details">
            <h5>Contact</h5>
            <h6>0812 407 6934</h6>
          </div>
          <div class="p-details">
            <h5>Address</h5>
            <h6>Flat D5, Marine Base</h6>
          </div>
          <div class="p-details">
            <h5>Blood Group</h5>
            <h6>Group O</h6>
          </div>
          <div class="p-details">
            <h5>Allergies</h5>
            <h6>Dust, smoke</h6>
          </div>
          <div class="p-details">
            <h5>Other Medical Condition</h5>
            <h6>NIL</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  