<!--Login Page-->
<div class="page">
    <!-- Scrollable page content -->
    <div class="page-content">
        <main class="auth">
            <!-- Top Navbar -->
            <div class="navbar no-shadow">
                <!-- <div class="navbar-bg"></div> -->
                <div class="left"><a href="/index/" class="link"><i class='bx bx-arrow-back'></i></a></div>
                <!-- <div class="navbar-inner">
                    <div class="title">Riviec</div>
                </div> -->
            </div>
            <div class="auth-text">
                <div class="logo">
                    <!--Login Form-->
                    <h1>Reset Password</h1>
                    <p>Forgot password?</p>
                    <form action="/index/">
                        <div class="text-area">
                            <div class="label"><i class='bx bx-at'></i> Email</div> 
                            <input type="email" name="" id="" placeholder="Email Address">
                        </div>
                        <span><a href="/signin/">Remember Password?</a></span>
                        <div class="btn">
                            <button type="submit">Reset</button>
                        </div>
                    </form>
                    <p>Not a user? <span><a href="/signup/">Create Account</a></span></p>
                </div>
            </div>
        </main>
    </div>
</div>