<div class="page">
  <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
          <div class="left">
              <a href="#" class="link back">
                  <i class='bx bx-arrow-back'></i>
                  <span class="if-not-md">Back</span>
              </a>
          </div>
          <div class="title" id="inner-title">Settings </div>
      </div>
  </div>
  <div class="page-content">
    <div class="settings-page">
      <div class="block-title" id="block-title">Notifications</div>
    <div class="list media-list" id="media-list">
      <ul>
        <li>
          <label class="item-checkbox item-content">
            <input type="checkbox" name="demo-media-checkbox" value="1"/>
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title" id="item-title">Automatic Alert?</div>
              </div>
              <div class="item-text" id="item-text">Automatically alert your emergency contacts whenever you send an alert</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-checkbox item-content">
            <input type="checkbox" name="demo-media-checkbox" value="2"/>
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title" id="item-title">Delete Received Alerts?</div>
              </div>
              <div class="item-text" id="item-text">Delete received alerts after 30 days </div>
            </div>
          </label>
        </li>
        
      </ul>
    </div>
    <div class="block-title" id="block-title">Change Password</div>
    <div class="settings-page">
      <form action="">
          <div class="edit-area">
              <h5>Old Password</h5>
              <input class="edit-form" type="email" name="" id="">
          </div>
          <div class="edit-area">
              <h5>New Password</h5>
              <input class="edit-form" type="email" name="" id="">
          </div>
          <!-- <div class="edit-area">
              <h5>Confirm Password</h5>
              <input class="edit-form" type="email" name="" id="">
          </div> -->
          <div class="editBtn">
              <button href="#" class="col button button-large button-fill button-raised">Change Password</button>
            </div>
      </form>
      
    </div>
    </div>
  </div>
</div>