<!--Login Page-->
<div class="page">
    <!-- Scrollable page content -->
    <div class="page-content">
        <main class="auth">
            <!-- Top Navbar -->
            <div class="navbar no-shadow">
                <!-- <div class="navbar-bg"></div> -->
                <div class="left"><a href="/index/" class="link"><i class='bx bx-arrow-back'></i></a></div>
                <!-- <div class="navbar-inner">
                    <div class="title">Riviec</div>
                </div> -->
            </div>
            <div class="auth-text">
                <!--Login Form-->
                <h1>Log In.</h1>
                <p>Welcome back!</p>
                <form action="dashboard.html">
                    <div class="text-area">
                        <div class="label"><i class='bx bx-at'></i> Email</div>
                        <input type="email" name="" id="" placeholder="name@mail.com">
                    </div>
                    <div class="text-area">
                        <div class="label"><i class='bx bx-lock-alt'></i> Password</div>
                        <input type="password" name="" id="" placeholder="*************">
                    </div>

                    <span><a href="/reset/">Forgot Password</a></span>
                    <div class="btn">
                        <button type="submit">Sign in</button>
                    </div>
                </form>
                <p>Not a user? <span><a href="/signup/">Create Account</a></span></p>
            </div>
        </main>
    </div>
</div>