<!--Login Page-->
<div class="page">
    <!-- Scrollable page content -->
    <div class="page-content">
        <main class="auth">
            <!-- Top Navbar -->
            <div class="navbar no-shadow">
                <!-- <div class="navbar-bg"></div> -->
                <div class="left"><a href="/index/" class="link"><i class='bx bx-arrow-back'></i></a></div>
            </div>
            <div class="auth-text">
                <!--Register Form-->
                <h1>Create Account.</h1>
                <p>Tell us about yourself</p>
                <form action="">
                    <div class="text-area">
                        <div class="label"><i class='bx bx-user'></i> Name</div>
                        <input type="text" name="" id="" placeholder="Fullname">
                    </div>
                    <div class="text-area">
                        <div class="label"><i class='bx bx-phone'></i> Phone Number</div>
                        <input type="tel" name="" id="" placeholder="Contact">
                    </div>
                    <div class="text-area">
                        <div class="label"><i class='bx bx-at'></i> Email</div>
                        <input type="email" name="" id="" placeholder="eg test@gmail.com">
                    </div>
                    <div class="text-area">
                        <div class="label"><i class='bx bx-lock-alt'></i> Password</div>
                        <input type="password" name="" id="" placeholder="***********">
                    </div>
                    <div class="btn">
                        <button>Sign up</button>
                    </div>
                </form>
                <p>Already have a Riviec account? <span><a href="/signin/">Log in</a></span></p>
            </div>
            <div class="auth-img">
                <img src="img/auth-img.jpg" alt="">
            </div>
        </main>
    </div>
</div>