/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #f90057;
  --f7-theme-color-rgb: 249, 0, 87;
  --f7-theme-color-shade: #d00000;
  --f7-theme-color-tint: #ff0023;
}

/* Your app custom styles here */