//Base Styling
//Font


@font-face {
    font-family: 'Cerebri Sans';
    src: url(../fonts/cerebrisans-regular.eot) format("embedded-opentype"), url("../fonts/cerebrisans-regular.ttf") format("truetype");
}
  
@font-face {
    font-family: 'Cerebri Sans';
    font-weight: bolder;
    src: url("../fonts/cerebrisans-semibold.ttf") format("truetype");
}

@font-face {
    font-family: 'League Spartan';
    src: url(../fonts/LeagueSpartan-Bold.otf) format("embedded-opentype"), url("../fonts/LeagueSpartan-Bold.otf") format("truetype");
}

// @font-face {
//     font-family: 'Cerebri Sans';
//     font-weight: bolder;
//     src: url("../fonts/cerebrisans-extrabold.ttf") format("truetype");
// }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cerebri Sans';
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background:  #fbfbfb;
}
// Import SASS files

// Import Menu file
@import 'partials/menu';


// Landing Page Styling

main{
    height: 100vh;
}
.link{
    .bx{
        font-size: 1.2rem;
        color: rgba(25, 32, 114, 1);
        font-weight: bold;
    }
}
.auth{
    display: grid;
    grid-template-columns: 40% 60%;
    .text-area{
        padding: .5rem 0;
    }
    .auth-text{
        padding: 0 2rem;
        h1{
            font-size: 1.9rem;
            // padding-top: 1rem;
            color: rgba(25, 32, 114, 1);
            font-family: 'League Spartan';
        }
        .label{
            padding: .5rem 0;
            color: rgba(25, 32, 114, .9);
        }
        input{
            border: 1px solid #eee;
            // background: #eee;
            width: 100%;
            padding: .7rem 1rem;
            color:  #13121a;
            border-radius: 5px;
            color: rgba(25, 32, 114, 1);
            transition: .2s all ease-in-out;
            &:focus{
                border: 1px solid rgba(25, 32, 114, .9);
            }
        }
        span{
            font-size: .9rem;
            color: #05f;
        }
        p{
            color: rgba(25, 32, 114, .6);
            font-size: .9rem;
        }
        .bx{
            color: rgba(25, 32, 114, .9);
        }
        .btn{
            padding: 1rem 0;
            button{
                padding: .9rem 1.9rem;
                background: #F90057;
                color:  #fff;
                border: 1px solid #F90057;
                border-radius: 5px;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
                font-size: .8rem;
                letter-spacing: 2px;
                text-transform: uppercase;
                width: 100%;
                outline: none;
                cursor: pointer;
            }
        }
    }
    .auth-img{
        background: #fbfbfb;
        // padding: 6rem 3rem;
        background-size: cover;
    }
    .welcome{
        text-align: center;
        .logo{
            padding-top: 4rem;

            p{
                padding: 1rem 0;
                font-size: 1rem;
            }
        }
        .btn{
            #alt{
                background:  #f8f8f8;
                color: #F90057;
                box-shadow: none;
            }
            p{
                padding-top: 8rem;
            }
        }
    }
}

#get-section{
    display: grid;
    grid-template-columns: 40% 60%;
    
    .get-text{
        padding: 5rem 4.5rem;

        h1{
            font-size: 2rem;
            padding: 1.5rem 0;
            color: #192072;
            // font-weight: 900;
        }
        p{
            font-size: 1.2rem;
            padding-right: 2rem;
            color: rgba(25, 32, 114, .6);
            // padding: 1.5rem 0 2rem 0;
        }
        img{
            width: 130px;
            margin-right: .6rem;
        }
        .btn{
            padding: .9rem 1.9rem;
            background: #F90057;
            color:  #fff;
            border: 1px solid #F90057;
            border-radius: 5px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            font-size: .8rem;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
    .get-img{
        // padding: 2rem 0;
        text-align: center;
        img{
            width: 75%;
        }
        
    }
}

#testimonials{
    background: #eefafd;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    #testimonial-text{
        padding: 8rem 4.5rem;
        h1{
            font-size: 2.3rem;
            padding: 1rem 0;
            color: rgba(25, 32, 114, 1);
        }
    
        p{
            font-size: 1.2rem;
            color: rgba(25, 32, 114, .7);
            padding: 1rem 2rem 0 0;
        }
        h5{
            padding: 2rem 0;
            font-size: 1rem;
            color: rgba(25, 32, 114, 1);
            a{
                text-decoration: underline;
            }
        }
        .bx{
            font-size: 2.6rem;
            color: #40196d;
            &:hover{
                color: #09ebaf;
            }
        }
    }
    
    #testimonial-image{
        text-align:center;
        // background-image: url(../img/testimonial.jpg);
        // padding: 12rem;
        img{
            min-width:100%;
            min-height:auto;
            object-fit: cover;
        }
    }
}

#get-started{
    padding: 2rem 4.5rem;
    #get-started-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        h1{
            font-size: 3.5rem;
            color: rgba(25, 32, 114, .2);
            font-family: 'League Spartan';
        }
        h2{
            padding: 1rem 0;
            color: rgba(25, 32, 114, 1);
        }
        p{
            color: #13121a;
            font-size: 1rem;
        }
    }
}

// Import Menu file
@import 'partials/mQ';