@font-face {
  font-family: 'Cerebri Sans';
  src: url(../fonts/cerebrisans-regular.eot) format("embedded-opentype"), url("../fonts/cerebrisans-regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Cerebri Sans';
  font-weight: bolder;
  src: url("../fonts/cerebrisans-semibold.ttf") format("truetype");
}

@font-face {
  font-family: 'League Spartan';
  src: url(../fonts/LeagueSpartan-Bold.otf) format("embedded-opentype"), url("../fonts/LeagueSpartan-Bold.otf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Cerebri Sans';
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #fbfbfb;
}

header {
  padding: 2rem 4.5rem;
}

.nav-scrolled {
  --text: #333;
  background: #ffffff;
  -webkit-box-shadow: 0 0px 22px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 22px rgba(0, 0, 0, 0.1);
  border-bottom: none;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.nav-links a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
  text-decoration: none;
  font-size: .8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.4s ease;
  padding: 1rem;
}

.nav-links a:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #09ebaf;
  width: 0;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.nav-links a:hover {
  color: #192072;
  font-weight: bolder;
}

.nav-links a:hover:after {
  width: 50%;
}

.logo img {
  width: 160px;
}

li {
  list-style: none;
  display: inline-block;
}

#get {
  color: #192072;
}

main {
  height: 100vh;
}

.link .bx {
  font-size: 1.2rem;
  color: #192072;
  font-weight: bold;
}

.auth {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.auth .text-area {
  padding: .5rem 0;
}

.auth .auth-text {
  padding: 0 2rem;
}

.auth .auth-text h1 {
  font-size: 1.9rem;
  color: #192072;
  font-family: 'League Spartan';
}

.auth .auth-text .label {
  padding: .5rem 0;
  color: rgba(25, 32, 114, 0.9);
}

.auth .auth-text input {
  border: 1px solid #eee;
  width: 100%;
  padding: .7rem 1rem;
  color: #13121a;
  border-radius: 5px;
  color: #192072;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.auth .auth-text input:focus {
  border: 1px solid rgba(25, 32, 114, 0.9);
}

.auth .auth-text span {
  font-size: .9rem;
  color: #05f;
}

.auth .auth-text p {
  color: rgba(25, 32, 114, 0.6);
  font-size: .9rem;
}

.auth .auth-text .bx {
  color: rgba(25, 32, 114, 0.9);
}

.auth .auth-text .btn {
  padding: 1rem 0;
}

.auth .auth-text .btn button {
  padding: .9rem 1.9rem;
  background: #F90057;
  color: #fff;
  border: 1px solid #F90057;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  font-size: .8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.auth .auth-img {
  background: #fbfbfb;
  background-size: cover;
}

.auth .welcome {
  text-align: center;
}

.auth .welcome .logo {
  padding-top: 4rem;
}

.auth .welcome .logo p {
  padding: 1rem 0;
  font-size: 1rem;
}

.auth .welcome .btn #alt {
  background: #f8f8f8;
  color: #F90057;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.auth .welcome .btn p {
  padding-top: 8rem;
}

#get-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

#get-section .get-text {
  padding: 5rem 4.5rem;
}

#get-section .get-text h1 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #192072;
}

#get-section .get-text p {
  font-size: 1.2rem;
  padding-right: 2rem;
  color: rgba(25, 32, 114, 0.6);
}

#get-section .get-text img {
  width: 130px;
  margin-right: .6rem;
}

#get-section .get-text .btn {
  padding: .9rem 1.9rem;
  background: #F90057;
  color: #fff;
  border: 1px solid #F90057;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  font-size: .8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#get-section .get-img {
  text-align: center;
}

#get-section .get-img img {
  width: 75%;
}

#testimonials {
  background: #eefafd;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#testimonials #testimonial-text {
  padding: 8rem 4.5rem;
}

#testimonials #testimonial-text h1 {
  font-size: 2.3rem;
  padding: 1rem 0;
  color: #192072;
}

#testimonials #testimonial-text p {
  font-size: 1.2rem;
  color: rgba(25, 32, 114, 0.7);
  padding: 1rem 2rem 0 0;
}

#testimonials #testimonial-text h5 {
  padding: 2rem 0;
  font-size: 1rem;
  color: #192072;
}

#testimonials #testimonial-text h5 a {
  text-decoration: underline;
}

#testimonials #testimonial-text .bx {
  font-size: 2.6rem;
  color: #40196d;
}

#testimonials #testimonial-text .bx:hover {
  color: #09ebaf;
}

#testimonials #testimonial-image {
  text-align: center;
}

#testimonials #testimonial-image img {
  min-width: 100%;
  min-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#get-started {
  padding: 2rem 4.5rem;
}

#get-started #get-started-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

#get-started #get-started-items h1 {
  font-size: 3.5rem;
  color: rgba(25, 32, 114, 0.2);
  font-family: 'League Spartan';
}

#get-started #get-started-items h2 {
  padding: 1rem 0;
  color: #192072;
}

#get-started #get-started-items p {
  color: #13121a;
  font-size: 1rem;
}

@media only screen and (max-width: 800px) {
  .auth {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .auth-text {
    padding: 1rem;
  }
  .auth-img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */